:root {

    /**
     * colors
     */
    --primary: #2F2F2F;
    --header-bg-dark: #1F1F1F;
    --header-bg-darker: #191919;
    --search-bg: #141415;
    --search-input-bg: #191919;
    --accent-color: orange;
   
  }
  